img {
    width: 36%;
}
body {
    background: url(https://pbs.twimg.com/profile_images/695859204574224384/C4LcDIwR_400x400.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Titillium Web', sans-serif;
}
h1{
    color:#32CD32;
}
body{
    color:red;
}
p{
    font-size:40px;
}
h1{
    font-size:50px;
}